/.idea
/.vscode

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
resources/js/**/*.vue
public/css/app.css
public/js/app.js

.env
.env.backup
.env.org
.env.dev
.env.test
.env.local
.env.prod
.env.production
.env.staging
.env.example
.phpunit.result.cache
.vapor/

docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
